/* CSS INDEX
===================

01. Theme default CSS
02. header
03. global
04. hero
05. about
06. feature
07. token
08. roadmap
09. team
10. faq
11. brand
12. contact
13. blog
14. user option
15. advantages
16. solution
17. pricing
18. service
19. product
20. cta
21. newslatter
22. preloader
23. backtotop
24. breadcrumb
25. sec-title


-----------------------------------------------------------------------------------*/ 
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&family=Plus+Jakarta+Sans:wght@300;400;500;600;700&family=Titillium+Web:wght@400;600;700&display=swap");
:root {
--font-body: 'Outfit', sans-serif;
--font-heading: 'Plus Jakarta Sans', sans-serif;
--color-primary: #3C12D4;
--gradient-color-from: #45ACAB;
--gradient-color-to: #4788AC;
--color-white: #fff;
--color-black: #000;
--color-default: #B3B3C0;
--color-dark: #0F1928;
--color-gray: #eeedef; }

/* reset css start */
html {
scroll-behavior: smooth; }

body {
padding: 0;
margin: 0;
font-weight: 400;
position: relative;
font-family: var(--font-body);
font-size: 16px;
line-height: 26px;
color: var(--color-default);
background-color: #0B0B29; }

img {
max-width: 100%;
height: auto; }

ul {
margin: 0px;
padding: 0px; }

button {
cursor: pointer; }

*:focus {
outline: none; }

button {
border: none;
-webkit-transition: 0.3s;
-o-transition: 0.3s;
transition: 0.3s; }

button:focus {
outline: none; }

a {
text-decoration: none;
-webkit-transition: 0.3s;
-o-transition: 0.3s;
transition: 0.3s; }
a:hover {
color: inherit; }

select {
height: 55px;
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
background-position: calc(100% - 10px) 50%;
background-repeat: no-repeat;
padding-right: 20px;
background-color: transparent;
border: 0; }

input[type="text"], input[type="password"], input[type="email"], input[type="tel"], form select, textarea {
width: 100%;
height: 50px;
border-radius: 5px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
-ms-border-radius: 5px;
-o-border-radius: 5px;
background-color: #1D1D3E;
color: var(--color-white);
padding: 20px;
border: 0;
-webkit-transition: 0.3s;
-o-transition: 0.3s;
transition: 0.3s;
font-weight: 400; }
input[type="text"]::-webkit-input-placeholder, input[type="password"]::-webkit-input-placeholder, input[type="email"]::-webkit-input-placeholder, input[type="tel"]::-webkit-input-placeholder, form select::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
color: #B3B3C0;
opacity: 1; }
input[type="text"]::-moz-placeholder, input[type="password"]::-moz-placeholder, input[type="email"]::-moz-placeholder, input[type="tel"]::-moz-placeholder, form select::-moz-placeholder, textarea::-moz-placeholder {
color: #B3B3C0;
opacity: 1; }
input[type="text"]:-ms-input-placeholder, input[type="password"]:-ms-input-placeholder, input[type="email"]:-ms-input-placeholder, input[type="tel"]:-ms-input-placeholder, form select:-ms-input-placeholder, textarea:-ms-input-placeholder {
color: #B3B3C0;
opacity: 1; }
input[type="text"]:-moz-placeholder, input[type="password"]:-moz-placeholder, input[type="email"]:-moz-placeholder, input[type="tel"]:-moz-placeholder, form select:-moz-placeholder, textarea:-moz-placeholder {
color: #B3B3C0;
opacity: 1; }

textarea {
height: 100px; }

button {
border: 0; }

table {
width: 100%; }

p, li, span {
margin-bottom: 0; }

/* reset css end */
/* global css start */
.nice-select {
    background-color: transparent;
    height: 40px !important;
    line-height: 40px !important;
    min-height: 40px !important;
    padding: 0 30px; }
    .nice-select span {
      color: var(--color-black); }
    .nice-select .list {
      box-shadow: 0.975px 7.94px 21px 0px rgba(239, 239, 239, 0.5); }
      .nice-select .list li {
        margin-right: 0 !important; }
      .nice-select .list .option {
        color: var(--color-black); }
        .nice-select .list .option.selected, .nice-select .list .option:hover {
          border: none !important; }
  
  /* global css end */
  .body_wrap {
    overflow: hidden;
    position: relative; }
  
  .bg_img {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%; }
  
  .footer-bg {
    background-color: #04060A; }
  
  .black-bg {
    background: var(--color-black); }
  
  .gray-bg {
    background-color: var(--color-gray); }
  
  .dark-bg {
    background-color: var(--color-dark-2); }
  
  .bg-deef {
    background-color: var(--color-deep); }
  
  .white {
    color: var(--color-white); }
  
  .pos-rel {
    position: relative; }
  
  .pos-absolute {
    position: absolute; }
  
  .f-right {
    float: right; }
  
  .border-effect a, .border-effect-2 a {
    display: inline !important;
    width: 100%;
    background-repeat: no-repeat;
    background-position-y: -2px;
    background-image: linear-gradient(transparent calc(100% - 2px), currentColor 1px);
    -webkit-transition: 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
    -o-transition: 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
    background-size: 0 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden; }
    .border-effect a:hover, .border-effect-2 a:hover {
      background-size: 100% 100%;
      color: inherit; }
  
  .border-effect-2 a {
    background-image: linear-gradient(transparent calc(100% - 1px), currentColor 1px); }
  
  .btn-video {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-white);
    position: relative; }
    .btn-video:hover {
      color: var(--color-white); }
  
  .btn-video::before {
    content: "";
    position: absolute;
    z-index: 0;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    /* background-color: rgba(15,103,246,.63); */
    border-radius: 50%;
    animation: pulse-border 1500ms ease-out infinite;
    -webkit-animation: pulse-border 1500ms ease-out infinite;
    z-index: -2; }
  
  .border_effect a {
    display: inline !important;
    width: 100%;
    background-repeat: no-repeat;
    background-position-y: -2px;
    background-image: linear-gradient(transparent calc(100% - 2px), currentColor 1px);
    transition: 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
    background-size: 0 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden; }
    .border_effect a:hover {
      background-size: 100% 100%;
      color: inherit; }
  
  @media (max-width: 991px) {
    .tx-col-md-6 {
      width: 50%; } }
  @media (max-width: 767px) {
    .tx-col-md-6 {
      width: 100%; } }
  
  .tx-close {
    background: rgba(0, 0, 0, 0.04);
    border: 9px solid transparent;
    color: #777;
    width: 36px;
    height: 36px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative; }
    .tx-close::before, .tx-close::after {
      content: '';
      position: absolute;
      height: 2px;
      width: 100%;
      top: 50%;
      left: 0;
      margin-top: -1px;
      transform-origin: 50% 50%;
      -webkit-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
      -khtml-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
      -moz-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
      -ms-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
      -o-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
      transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
      background-color: #1b1b1b; }
    .tx-close::before {
      -webkit-transform: rotate(45deg);
      -khtml-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg); }
    .tx-close::after {
      -webkit-transform: rotate(-45deg);
      -khtml-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg); }
    .tx-close:hover::before, .tx-close:hover::after {
      -webkit-transform: rotate(0);
      -khtml-transform: rotate(0);
      -moz-transform: rotate(0);
      -ms-transform: rotate(0);
      -o-transform: rotate(0);
      transform: rotate(0); }
  
  /* order & unorder list reset - start */
  .ul_li, .ul_li_right, .ul_li_center, .ul_li_between {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    align-items: center; }
  
  .ul_li > li, .ul_li_right > li, .ul_li_center > li, .ul_li_between > li {
    float: left;
    list-style: none;
    display: inline-block; }
  
  .ul_li {
    justify-content: flex-start; }
  
  .ul_li_center {
    justify-content: center; }
  
  .ul_li_right {
    justify-content: flex-end; }
  
  .ul_li_between {
    justify-content: space-between; }
  
  .ul_li_block {
    margin: 0px;
    padding: 0px;
    display: block; }
  
  .ul_li_block > li {
    display: block;
    list-style: none; }
  
  .flex-1 {
    flex: 1; }
  
  .color-black {
    color: var(--color-black); }
  
  .pagination_wrap {
    z-index: 2;
    position: relative; }
    .pagination_wrap ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: -5px;
      list-style: none; }
      .pagination_wrap ul li {
        padding: 5px; }
        .pagination_wrap ul li a {
          height: 55px;
          width: 55px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 18px;
          font-weight: 500;
          color: var(--color-white);
          border: 1px solid #282842;
          -webkit-transition: all 0.3s ease-out 0s;
          -o-transition: all 0.3s ease-out 0s;
          transition: all 0.3s ease-out 0s;
          z-index: 1;
          border-radius: 50%;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -ms-border-radius: 50%;
          -o-border-radius: 50%;
          overflow: hidden; }
          .pagination_wrap ul li a.current_page, .pagination_wrap ul li a:hover {
            color: var(--color-white);
            background-color: #1D1D3E;
            border-color: #1D1D3E; }
  
  .mr-none-60 {
    margin-right: -60px; }
  
  .ml-none-60 {
    margin-left: -60px; }
  
  .pb-8 {
    padding-bottom: 8px; }
  
  @keyframes tc_animation1 {
    0% {
      opacity: 0;
      transform: scale(0.6); }
    50% {
      opacity: 1; }
    100% {
      opacity: 0;
      transform: scale(1.8); } }
  @keyframes tc_animation2 {
    0% {
      opacity: 0;
      transform: scale(0.6); }
    50% {
      opacity: 1; }
    100% {
      opacity: 0;
      transform: scale(2.7); } }
  .line_wrap {
    top: 0px;
    left: 50%;
    bottom: 0px;
    width: 100%;
    z-index: -1;
    display: block;
    position: absolute;
    transform: translateX(-50%);
    max-width: 1312px;
    margin: auto; }
    @media (max-width: 992px) {
      .line_wrap {
        max-width: 960px; } }
    @media (max-width: 991px) {
      .line_wrap {
        display: none; } }
    .line_wrap .col {
      float: left;
      height: 100%;
      position: relative; }
    .line_wrap .line_item {
      border-left: 1px solid rgba(255, 255, 255, 0.06);
      border-right: 1px solid rgba(255, 255, 255, 0.06);
      height: 100%;
      position: relative; }
  
  /*--
      - Margin & Padding
  -----------------------------------------*/
  